<label for="name">Enter your time here please</label>
<input type="name" id="name" [(ngModel)]="server.name" />
<br />
<label for="name">Enter your time here please</label>
<input type="name" id="name" [(ngModel)]="server.class" />
<br />
<label for="name">Enter your time here please</label>
<input type="name" id="name" [(ngModel)]="server.time" />

<!--  -->
<h3>Hi, welcome to the servers compoent</h3>
<p>The server name is {{ editDetails.name }}</p>
<p>The server class is {{ editDetails.class }}</p>
<p>This server was created as at {{ editDetails.time }}</p>

<button class="btn btn-info">Save Changes</button>
