<h3>Enter your details below</h3>
<label for="name">Enter your name here please</label>
<input type="text" id="name" [(ngModel)]="name" />
<br />
<label for="name">Enter your class here please</label>
<input type="text" id="name" [(ngModel)]="class" />.
<br />
<label for="name">Enter your time here please</label>
<input type="time" id="name" [(ngModel)]="time" />
<br />

<button class="btn btn-info" (click)="toServerDetails()">
  Display The Server Child component
</button>
<p>is server child component here??</p>
<router-outlet></router-outlet>
