<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="container" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="server">Server</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="servers">Servers</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>
